In [62]:
import pandas as pd
import requests
from sklearn.metrics import classification_report

In [ ]:
df = pd.read_csv('test_data.csv')
df.head()

,Age,Annual_Premium,Driving_License,Gender,Policy_Sales_Channel,Previously_Insured,Region_Code,Vehicle_Age,Vehicle_Damage,Vintage,id,Response
0,21,30903.0,1,Female,160.0,1,17.0,< 1 Year,No,189,10576770,0
1,58,55769.0,1,Male,26.0,0,28.0,> 2 Years,Yes,144,2263379,0
2,58,64560.0,1,Male,26.0,0,28.0,> 2 Years,Yes,270,6071591,0
3,41,29610.0,1,Female,26.0,0,8.0,1-2 Year,No,284,1799994,0
4,24,38228.0,1,Male,152.0,1,41.0,< 1 Year,No,177,3779422,0

In [70]:
df, y = df.drop(['id', 'Response'], axis = 1), df['Response']

In [ ]:
vechicle_age = {'1-2 Year' : 1, '< 1 Year' : 0, '> 2 Years' : 3 }
df['Vehicle_Age'] = df['Vehicle_Age'].map(vechicle_age)

In [72]:
df.iloc[0].to_dict()

{'Age': 21,
 'Annual_Premium': 30903.0,
 'Driving_License': 1,
 'Gender': 'Female',
 'Policy_Sales_Channel': 160.0,
 'Previously_Insured': 1,
 'Region_Code': 17.0,
 'Vehicle_Age': 0,
 'Vehicle_Damage': 'No',
 'Vintage': 189}

In [82]:
import requests

def predict_model(data):
    url = 'http://127.0.0.1:5000/predict_model'
    data = data.to_dict()

    # Отправка POST-запроса с данными в формате форм-данных
    response = requests.post(url, json = data)

    # Проверка статуса ответа
    if response.status_code == 200:
        return str( response.json()['prediction'])
    else:
        return {"error": f"Request failed with status code {response.status_code}"}

# Пример данных для предсказания
data = df.iloc[0]


prediction = predict_model(data)
print(prediction, y[0])

Клиент не выбран для предложения страховки 0

In [88]:
df = df[df['Region_Code'] != 0.]

In [92]:
res = {'Клиент не выбран для предложения страховки' : 0, 'Клиент выбран для предложения страховки' : 1}
y_predict = df[0:100_000].apply(predict_model, axis = 1).map(res)

print(classification_report(y[0:100_000], y_predict))

              precision    recall  f1-score   support

           0       0.88      0.64      0.74     87762
           1       0.12      0.36      0.18     12238

    accuracy                           0.61    100000
   macro avg       0.50      0.50      0.46    100000
weighted avg       0.78      0.61      0.67    100000

In [94]:
df = pd.read_csv('/Users/marinin/Learning/Binary-Classification/test_data.csv')
df = df.drop(['id', 'Response'], axis = 1)
val_1 = df.shape
df_new = df[df['Region_Code'] != 0.]
val_2 = df_new.shape
print(val_1, val_2, sep = '\n')

(6442687, 10)
(6409458, 10)